.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.donut-chart {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut-hole {
    width: 240px;
    height: 240px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
}